{% extends "app/layout.html" %}

{% block content %}

<div class="container" style="margin-top: 50px">
    <div class="jumbotron bg-light text-center">
        <h2 class="display-4">{{ title }}.</h2>
    </div>

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <section class="mb-4">
                <p class="lead">
                    <span class="font-weight-bold">Сад Вкусов</span>
                    <br>
                    Добро пожаловать в "Сад Вкусов" – место, где каждый уголок наполнен ароматами и вкусами, которые переносят вас в мир кулинарных наслаждений. Наш ресторан – это не просто заведение, а настоящий оазис, где вы можете насладиться изысканными блюдами, приготовленными с любовью и вниманием к каждой детали.
                </p>
            </section>

            <section class="mb-4">
                <h4 class="text-primary">Атмосфера</h4>
                <p>
                    "Сад Вкусов" – это уютное и стильное пространство, где современный дизайн гармонично сочетается с теплом домашнего уюта. Мягкий свет, элегантная мебель и живые растения создают атмосферу, в которой хочется задержаться и насладиться каждым мгновением.
                </p>
            </section>

            <section class="mb-4">
                <h4 class="text-primary">Меню</h4>
                <p>
                    Наше меню – это путешествие по вкусам и ароматам со всего мира. Мы предлагаем широкий выбор блюд, приготовленных из свежих и качественных ингредиентов. От легких закусок и салатов до сытных основных блюд и десертов – у нас найдется что-то на любой вкус.
                </p>
            </section>

            <section class="mb-4">
                <h4 class="text-primary">Шеф-повар</h4>
                <p>
                    Наш шеф-повар – настоящий мастер кулинарного искусства. С вдохновением и страстью он создает уникальные блюда, которые удивляют и радуют наших гостей. Каждое блюдо – это результат тщательной работы и стремления к совершенству.
                </p>
            </section>

            <section class="mb-4">
                <h4 class="text-primary">Обслуживание</h4>
                <p>
                    Мы гордимся высоким уровнем обслуживания. Наш дружелюбный и профессиональный персонал всегда готов помочь вам сделать правильный выбор и сделать ваше пребывание у нас максимально комфортным.
                </p>
            </section>

            <section class="mb-4">
                <h4 class="text-primary">Мероприятия</h4>
                <p>
                    "Сад Вкусов" – это также идеальное место для проведения различных мероприятий. Будь то романтический ужин, семейное торжество или деловая встреча, мы готовы предоставить вам все необходимое для успешного проведения вашего события.
                </p>
            </section>

            <section class="mt-4 text-center">
                <p class="font-italic">
                    Приходите в "Сад Вкусов" и погрузитесь в мир наслаждений, где каждый момент наполнен вкусом и радостью!
                </p>
            </section>

        </div>
    </div>
</div>
{% endblock %}