{% extends "app/layout.html" %}

{% block content %}

<div class="container" style="margin-top: 50px">
    <div class="jumbotron bg-light text-center">
        <h2 class="display-4">{{ title }}.</h2>
    </div>

    <div class="jumbotron">
        <div>
            <div>
                <h1>OutdoorMediaHub – рекламный онлайн-сервис для комплексного продвижения бизнеса</h1>
                <p>Мы предоставляем услуги по размещению всех видов наружной, транзитной и indoor-рекламы, созданию корпоративной полиграфии, брендированных сувениров и POSM, размещению рекламы в СМИ и в Интернете.</p>

                <h2>Рекламный онлайн-сервис для комплексного продвижения</h2>
                <p>География агентства не ограничивается крупными городами, такими как Москва и Санкт-Петербург, - мы работаем по всей России. В рекламной базе OutdoorMediaHub находятся десятки тысяч рекламоносителей от стикеров до билбордов, с нами сотрудничают как федеральные, так и региональные газеты, телеканалы и радиостанции.</p>
                <p>Команда профессионалов с большим опытом работы на рынке рекламных услуг окажет помощь на каждом этапе продвижения: от выбора подходящих рекламных каналов и создания дизайна объявления до его размещения и финального демонтажа.</p>

                <h2>Почему клиенты выбирают OutdoorMediaHub?</h2>
                <ul>
                    <li><strong>Удобство.</strong> Вы можете самостоятельно подобрать рекламные носители на сайте с помощью интерактивной карты, где указаны все необходимые сведения: стоимость, фото, доступность на ближайший период и т.д.</li>
                    <li><strong>Экспертность.</strong> Опытные менеджеры всегда готовы помочь в выборе, рассказать об особенностях размещения рекламы на каждой конструкции и посоветовать идеальное решение для вас, а также поделиться информацией о возможных скидках и спецпредложениях.</li>
                    <li><strong>Индивидуальный подход.</strong> Нашими клиентами являются представители малого, среднего и крупного бизнеса, офлайн- и онлайн-компании самых разных сфер. Специалисты OutdoorMediaHub составляют предложение с учетом целей и задач каждого клиента, географии проекта, особенностей его целевой аудитории и т.д.</li>
                    <li><strong>Стабильность.</strong> Мы уже более 12 лет на рекламном рынке и реализовали тысячи успешных кейсов.</li>
                    <li><strong>Мультиформатность.</strong> Широкий спектр рекламных возможностей позволяет выбирать и комбинировать разные виды рекламы, получая максимальный охват. Все, что нужно для продвижения, доступно в нашем сервисе: вы можете заказать вывеску или рол-ап, листовки или брендированные футболки для промоутеров, заказать дизайн рекламного объявления и разместить его на рекламном щите, популярном сайте или на газетной полосе и даже порадовать бизнес-партнеров оригинальным брендированным подарком.</li>
                </ul>

                <h2>Полный спектр услуг:</h2>
                <ul>
                    <li>Наружная реклама (билборды, ситиборды, остановки, ситиформаты, медиафасады, брандмауэры, суперсайты и др.)</li>
                    <li>Реклама в транспорте (автобусы, такси, маршрутки, троллейбусы, трамваи, электрички, туристический и водный транспорт)</li>
                    <li>Реклама в метрополитене</li>
                    <li>Реклама в помещениях (бизнес-центры, фитнесс-клубы, АЗС, супермаркеты, отделения почты, торговые центры, МФЦ, аэропорты, жилые комплексы и дома)</li>
                    <li>Корпоративное брендирование и создание мерча (70000 товаров для нанесения логотипа: одежда и аксессуары, гаджеты и посуда, офисные принадлежности и VIP-подарки)</li>
                    <li>Создание полиграфии (календари, блокноты, каталоги, папки, кубарики, конверты, пакеты и др.)</li>
                    <li>Разработка POSM (информационные стенды, объемные буквы, таблички указатели, рекламные стойки и буклетницы, лайтбоксы)</li>
                    <li>Реклама в СМИ (ТВ, радио, печатные издания)</li>
                </ul>
                <p>А также: разработка дизайна, согласование размещения во всех инстанциях, монтаж/демонтаж и техническое обслуживание на протяжении всего срока размещения.</p>
            </div>

        </div>
    </div>
</div>
{% endblock %}