{% extends "app/layout.html" %}

{% block content %}
<div style="margin-top: 50px">
    <div class="jumbotron">
        <h2>{{ title }}.</h2>
        <h3>{{ message }}</h3>
        <div class="row">
            <div class="col-md-6">
                <h4>Наш адрес</h4>
                <address>
                    <strong>OutdoorMediaHub</strong><br />
                    г. Москва, Цветной Бульвар, 30 стр.1<br />
                    <abbr title="Phone">Телефон:</abbr> +7 (800) 505 59 42<br />
                    <abbr title="Phone">Другой телефон:</abbr> +7 (800) 505 50 40
                </address>
            </div>
            <div class="col-md-6">
                <h4>Контакты</h4>
                <address>
                    <strong>Техническая поддержка:</strong> <a href="mailto:technicalsupport@outdoormediahub.com">technicalsupport@outdoormediahub.com</a><br />
                    <strong>Отдел маркетинга:</strong> <a href="mailto:marketing@outdoormediahub.com">marketing@outdoormediahub.com</a>
                </address>
            </div>
        </div>
    </div>
</div>

{% endblock %}