{% extends "app/layout.html" %}

{% load static %}

{% block content %}
<div class="container mt-4 jumbotron" style="margin-top: 50px">
    <h2 class="text-center mb-4">Список ресурсов о рекламе:</h2>
    <div class="row justify-content-center">
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow">
                <div class="card-body d-flex flex-column align-items-center justify-content-between">
                    <img src="{% static 'app/content/links_1.jpg' %}" alt="Unisender" class="img-fluid mb-3" style="max-width: 100px; max-height: 100px;">
                    <div class="w-100 text-center">
                        <a href="https://www.unisender.com/ru/glossary/chto-takoe-naruzhnaya-reklama/?ysclid=m55ka8k7v3175012217#anchor-1" target="_blank" class="btn btn-primary btn-sm">Перейти</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow">
                <div class="card-body d-flex flex-column align-items-center justify-content-between">
                    <img src="{% static 'app/content/links_2.jpg' %}" alt="Rim-group" class="img-fluid mb-3" style="max-width: 100px; max-height: 100px;">
                    <div class="w-100 text-center">
                        <a href="https://rim-group.ru/blog/kak-vybrat-pravilnye-mesta-dlya-razmeshcheniya-naruzhnoy-reklamy-i-dostich-maksimalnoy-vidimosti/?ysclid=m55kd4dhhj17383659" target="_blank" class="btn btn-primary btn-sm">Перейти</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow">
                <div class="card-body d-flex flex-column align-items-center justify-content-between">
                    <img src="{% static 'app/content/links_3.png' %}" alt="Topviveski" class="img-fluid mb-3" style="max-width: 100px; max-height: 100px;">
                    <div class="w-100 text-center">
                        <a href="https://topviveski.ru/blog/top-10-idej-kreativnoj-naruzhnoj-reklamy?ysclid=m55kg186oo211405464" target="_blank" class="btn btn-primary btn-sm">Перейти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}