{% extends "app/layout.html" %}

{% load static %}

{% block content %}
<div class="jumbotron">
    <div>
        <b>{{ title }}</b>
    </div>

    <hr />

    <div class="column">
        <h2>Наружная реклама тц:</h2>
        <VIDEO src="/media/video_1.mp4" controls="controls" width="400" height="300" poster="/media/videopost_1.jpg"></VIDEO>
        <p> <br /> Пример размещения наружной рекламы в тц. <i> Стоимость от 3000 рублей за установку.</i></p>
    </div>

    <hr />

    <div class="column">
        <h2>Наружная реклама отеля:</h2>
        <VIDEO src="/media/video_2.mp4" controls="controls" width="400" height="300" poster="/media/videopost_2.jpg"></VIDEO>
        <p>
            <br />
            Процесс установки наружной рекламы отеля.<i>Стоимость от 3000 рублей за установку.</i>
        </p>
    </div>
</div>
{% endblock %}